<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成都小学分布图</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>

</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width:1800px;height:800px;margin: 50px auto;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    fetch("/api/school_data")
        .then(response => response.json())
        .then(data => {
            /*data 接收response的json数据，然后等价与这种
            const data = {
                areas: ["市直属直管学校", "新都区教育局", ...],  // 属性名：areas；属性值：数组
                counts: [1, 40, 63, ...]                        // 属性名：counts；属性值：数组
            };*/
            //console.log("完整数据：", data);可在前端查看
            const areas = data.areas;
            const counts = data.counts;
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: "小学学校分布柱状图"
                },
                tooltip: {},
                legend: {
                    data: ["数量"],
                    x: "center",

                },
                xAxis: {
                    data: areas,
                    axisLabel: {
                        rotate: 45,
                        interval: 0,
                        margin: 15,
                        fontSize: 12
                    }
                },
                grid: {
                    bottom: "1%",  // 关键：增大底部边距（原为默认值，建议设为15%-25%）
                    containLabel: true  // 让 grid 包含坐标轴标签
                },
                yAxis: {},
                series: [{
                    name: "数量",
                    type: "bar",
                    data: counts,
                },
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        })
</script>

</body>
</html>